body{
    font-family:'Minecraftia-Regular';
    margin:0;
    background-color:#000;
}

@font-face{
    font-family: 'Minecraftia-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(./platformer/resources/fonts/Minecraftia-Regular.ttf);
}
@font-face{
    font-family: 'silkscreen';
    font-style: normal;
    font-weight: normal;
    src: url(./platformer/resources/fonts/slkscre.ttf);
}
@font-face{
    font-family: 'silkscreen';
    font-style: normal;
    font-weight: bold;
    src: url(./platformer/resources/fonts/slkscreb.ttf);
}
